services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: PhoneDB
    ports:
      - "5432:5432"
    networks:
      - backend_network

networks:
  backend_network:

volumes:
  postgres_data: